.main {
  display: flex;
  flex-direction: column;
  height: 100vh;

  app-header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
    height: 3rem;
  }

  app-footer {
    height: 1rem;
  }
}
