mat-toolbar {
  width: 100vw;
  height: 3rem;
}

mat-sidenav-container {
  position: absolute;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
}

mat-sidenav {
  min-width: 10vw;
  height: 100vh;
}
