<div class="navigation-container">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="logo-container">
      <div class="logo">
        <img src="/assets/images/icon-white.svg" alt="" />
        <span>RUNNING COACH</span>
        <img src="/assets/images/icon-white.svg" alt="" />
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side"> Sidenav content </mat-sidenav>
    <mat-sidenav-content
      [class.sidenav-open]="isSidenavOpen"
      [@triggerColor]="isSidenavOpen ? 'colored' : 'transparent'"
      [@triggerVisibility]="isSidenavOpen ? 'visible' : 'hidden'"
    >
      <!-- Main content -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
