:host {
  height: 100%;
  flex-grow: 1;
}

:host,
form,
div.distance,
div.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.title {
  width: 85%;
  text-align: center;
}

p {
  font-size: 1.2em;
  text-align: center;
}

.distance2 {
  margin-top: 3em;
}

div.time {
  .time-inputs {
    width: 70%;

    display: flex;
    justify-content: space-around;

    mat-form-field {
      width: 40%;
    }
  }
}

.mat-button-toggle-group {
  margin-left: 12px;

  .mat-button-toggle {
    width: 5em;
  }
}

.debug {
  background-color: lightgray;
  color: blue;
  padding: 2em;
}
