<p>main works!</p>
<p class="garamond">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt soluta nobis
  aliquid at molestias sequi consequuntur, odio facere! Rerum, expedita a soluta
  deleniti maiores aperiam corporis enim dolorem corrupti magnam!
</p>
<p class="bodoni">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt soluta nobis
  aliquid at molestias sequi consequuntur, odio facere! Rerum, expedita a soluta
  deleniti maiores aperiam corporis enim dolorem corrupti magnam!
</p>
<p class="lora">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt soluta nobis
  aliquid at molestias sequi consequuntur, odio facere! Rerum, expedita a soluta
  deleniti maiores aperiam corporis enim dolorem corrupti magnam!
</p>
<p class="merriwather">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt soluta nobis
  aliquid at molestias sequi consequuntur, odio facere! Rerum, expedita a soluta
  deleniti maiores aperiam corporis enim dolorem corrupti magnam!
</p>
<p class="nunito-sans">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt soluta nobis
  aliquid at molestias sequi consequuntur, odio facere! Rerum, expedita a soluta
  deleniti maiores aperiam corporis enim dolorem corrupti magnam!
</p>
<p class="open-sans">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt soluta nobis
  aliquid at molestias sequi consequuntur, odio facere! Rerum, expedita a soluta
  deleniti maiores aperiam corporis enim dolorem corrupti magnam!
</p>
