:host {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

div.distance,
div.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2em;
}

.mat-button-toggle-group {
  margin-left: 12px;

  .mat-button-toggle {
    width: 5em;
  }
}
